<p-splitter [style]="{'height': '78vh'}" [panelSizes]="[10,90]" [minSizes]="[10,90]" layout="horizontal">
  <ng-template pTemplate >
    <p-table id="table" [value]="sinistri" [resizableColumns]="true" selectionMode="single"
      responsiveLayout="scroll" [scrollable]="true" style="padding: 5px;" class="startingWidth">
      
        <ng-template pTemplate="body" let-sinistro>
          <div style="background: rgb(213, 210, 210); border-radius: 5px;border-color: black; border-width: 10px; padding: 5px;">
          <div class="flex gap-3" style="margin-left: 10px;width: 95%;">
            <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
            <p style="color: rgb(148, 0, 0);"><b style="text-transform:uppercase;">Sinistro contestato rca</b></p>
            <div class="flex align-items-center justify-content-end gap-2" style="margin-top: 15px;position: absolute;right: 0;">
              <a href=""><i class="pi pi-trash" style="color: rgb(148, 0, 0);"></i></a>
              <a href="{{url}}{{sinistro.id}}"><i class="pi pi-external-link" style="color: rgb(148, 0, 0);"></i></a>
              <button (click)="mostraDettagliSinistro(sinistro.id)" pButton pRipple style="border: 0cm;color: rgb(148, 0, 0); margin-right: 10px;" class="p-button-outlined p-button-secondary">
              <i id="icona{{sinistro.id}}" class="pi pi-angle-down"></i></button>
            </div>
          </div>
          <tr>
            <td><b>{{sinistro.numeroSinistro}}</b></td>
            <td>|</td>
            <td><b>RCA</b></td>
            <td>|</td>
            <td>Liq. <b style="text-transform:uppercase;">{{sinistro.liquidatore}}</b></td>
            <td>uls( <b>0{{sinistro.ulsNumero}}</b> ) </td>
            <td>|</td>
            <td>Agenzia di <b>{{sinistro.luogoAgenzia}}</b> ({{sinistro.numeroAgenzia}})</td>
            <td>|</td>
            <td>Gest: <b>0{{sinistro.gest}}</b></td>
            <td>|</td>
            <td>Prod: <b>0{{sinistro.prod}}</b></td>
            <td>|</td>
            <td>Contraente di polizza: <b style="text-transform:uppercase;">{{sinistro.contraente}}</b></td>
          </tr>
          <br>
          <div id="dettagliSinistro{{sinistro.id}}" class="flex-wrap removeVisibility" style="max-width: 500px;">
            <div class="flex-none flex align-items-center justify-content-center">
              <p><b>{{sinistro.contraente}}</b> contraente | Stato: <b>Chiusa senza seguito</b> | Danno: <i class="pi pi-car"></i> | PLP: <b>Non assegnata</b></p>
            </div>
            <div class="flex-none flex align-items-center justify-content-center">
              <p>Data evento: <b>13/05/2022</b> | Data preve: <b>19/05/2022</b> | <b style="text-transform:uppercase;">Istruito</b> | EVIDENZE: Presenza R.D, Gestione RC, Contestato</p>
            </div>
            <div class="flex-none flex align-items-center justify-content-center">
              <p>Motivo contestazione = <b>-</b> | Data invio lettera contestazione = <b>-</b></p>
            </div>
          </div>
        </div>
        <br>
        </ng-template>
      
      </p-table>
  </ng-template>
</p-splitter>