<p-menubar class="flex flex-wrap">
        <div class=" formgrid grid justify-content-center gap-1" style="width:16vw">
            <div class="flex  ">
                <p style="color: brown; font-size:medium;"><b>Fincons Claim Center</b><br><p style="font-size:x-small;"><i>99992962 - PRE1 - ITA</i></p></p>
            </div>
            <div class="flex  ">
                <button pButton pRipple style="border: 0cm;" (click)="mostraSidebar()" class="p-button-outlined p-button-secondary">
                    <i class="pi pi-bars" style="font-size: 1.5rem"></i>
                </button>
            </div>
        </div>   
</p-menubar>