<p-menubar class="flex align-items-start flex-wrap card-container">
        <div class="formgrid grid align-items-center" style="width:100%">
            <div class="field col flex align-items-center justify-content-center">
                <p style="color: brown; font-size: large;">ASIA PRE</p>
            </div>
            <div class="field col flex align-items-center justify-content-center">
                <i class="pi pi-search"></i> 
                Cerca sinistri, clienti, danneggiati.
            </div>
        </div>   
</p-menubar>