<p-splitter [style]="{'height': '100vh'}" [panelSizes]="[10,90]" [minSizes]="[10,90]" layout="horizontal">
    <ng-template pTemplate>
        <div id="dettaglio" class="startingWidth">
            <div class="grid" style="width: 100%;">
                <p-card class="justify-content-center text-center" header="SINISTRO {{sinistro[idSinistro.valueOf()].id}} | Ramo {{sinistro[idSinistro].ramo}} | Agenzia {{sinistro[idSinistro].numeroAgenzia}}" style="width: 100%;">
                    STATO <b>{{sinistro[idSinistro].numeroSinistro}}</b> | COPERTURA <b style="text-transform:uppercase;">{{sinistro[idSinistro].copertura}}</b> | GESTIONE <b style="text-transform:uppercase;">{{sinistro[idSinistro].gestione}}</b> | RESPONSABILITÀ <b>{{sinistro[idSinistro].responsabilita}}</b> | CONFERMATO <b style="text-transform:uppercase;">{{sinistro[idSinistro].confermato}} {{sinistro[idSinistro].dataConfermato}} - {{sinistro[idSinistro].liquidatore}}</b>
                </p-card>
                <div class=" align-content-center" style="height: 170px;width: 100% ; margin-bottom: 2px; background-color: white; border:1px solid rgb(91, 226, 226);border-radius: 5px;">
                    <div class="flex align-items-center justify-content-between" style="margin-left: 10px;margin-right: 10px;height: 100%;">
                        <i class="pi pi-angle-left" style="color:rgb(91, 226, 226);"></i>
                        <div id="topCardAzzurra" class="align-items-center justify-content-center" style="width:200px;height:100%;color:white;background-color: rgb(91, 226, 226); border:1px solid white;border-radius: 5px;">
                            <div class="flex align-items-center gap-2" style="margin-left: 5px;margin-right: 5px;">
                                <i class="pi pi-stop-circle"></i>
                                <p>Chiusa senza seguito</p>
                            </div>
                            <div style="margin-left: 5px;margin-right: 5px;">
                                <p style="margin: 0,5;">CO | <b style="text-transform: uppercase;">Mazzoli Silvano</b></p>
                                <p style="margin: 0;">Contraente non a bordo</p>
                            </div>
                            <div class="flex align-items-center justify-content-between" style="margin-left: 5px;margin-right: 5px;">
                                <i class="pi pi-car"></i>
                                <p>X6HFGF</p>
                            </div>
                        </div>
                        <div id="topCardBianca" class="align-items-center justify-content-center" style="width:200px;height:100%;color:rgb(91, 226, 226);background-color: white;border:1px solid rgb(91, 226, 226);border-radius: 5px;">
                            <div class="flex align-items-center gap-2" style="margin-left: 5px;margin-right: 5px;color: rgb(177, 176, 176);">
                                <i class="pi pi-stop-circle"></i>
                                <p>Aperta</p>
                            </div>
                            <div style="margin-left: 5px;margin-right: 5px;">
                                <p style="margin: 0,5;">CN | <b style="text-transform: uppercase;">Barz Lucian</b></p>
                                <p style="margin: 0;font-size: small;">Contraente di controparte n...</p>
                            </div>
                            <div class="flex align-items-center justify-content-between" style="margin-left: 5px;margin-right: 5px;">
                                <i class="pi pi-car"></i>
                                <p>X6HFGF</p>
                            </div>
                        </div>
                        <div id="topCardNuovaEntita" class="flex align-items-center justify-content-center" style="width:200px;height:100%;color:white;background-color: rgb(91, 226, 226); border:1px solid white;border-radius: 5px;">
                            <div class="card justify-content-center" style="margin-left: 5px;margin-right: 5px;">
                                <div class="field">
                                    <p>Aggiungi nuova entità</p>
                                </div>
                                <div class="field flex align-items-center justify-content-center">
                                    <i class="pi pi-plus"></i>
                                </div>
                            </div>
                        </div>
                        <i class="pi pi-angle-right" style="color:rgb(91, 226, 226);"></i>
                    </div>
                </div>
                <div class="card-container" style="width: 100%; background-color: rgb(91, 226, 226);">
                    <div class="flex-none flex align-items-center justify-content-between" style="margin-left: 10px;margin-right: 10px;">
                        <div class="flex align-items-center justify-content-center"><p>PLP: <b>{{sinistro[idSinistro].plp}}</b></p></div>
                        <p>|</p>
                        <div class="flex align-items-center justify-content-center"><p>ULS: <b>{{sinistro[idSinistro].ulsLuogo}}</b></p></div>
                        <p>|</p>
                        <p class="flex align-items-center justify-content-center">LIQUIDATORE: <b style="text-transform: uppercase;">{{sinistro[idSinistro].liquidatore}}</b></p>
                    </div>
                </div>
                <div class="card-container" style="width: 100%; background-color: white;">
                    <div class="flex align-items-center justify-content-left" style="margin-left: 10px"><p><b style="text-transform: uppercase;">Soggetti collegati</b></p></div>
                    <div class="flex-none flex align-items-center gap-4" style="margin-left: 10px;margin-right: 10px;">
                        <div class="flex align-items-center justify-content-center"><p>Conducente del veicolo: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">Mazzoli Samuele</b></p></div>
                        <p>|</p>
                        <div class="flex align-items-center justify-content-center"><p>Proprietario del veicolo: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">Mazzoli Stefano</b></p></div>
                    </div>
                </div>
                <div id="contenitoreEsternoBasso" class="grid card-container" style="width: 100%;height: 860px; background-color: white;border:1px solid black;border-radius: 5px;">
                    <div style="width:78%">
                        <div class="col flex align-items-center justify-content-left" style="margin-left: 10px">
                            <p><b style="text-transform: uppercase;font-size: large;">Info sinistro</b></p>
                            <p style="margin-left: 150px;">sinistro <b style="text-transform: uppercase;color:rgb(148, 0, 0)">{{sinistro[idSinistro].infoSinistro}}</b></p>
                        </div>
                        <div class="flex-none flex align-items-center gap-4" style="margin-left: 10px;margin-right: 10px;">
                            <div class="flex align-items-center justify-content-center">
                                <i class="pi pi-pencil" style="color:rgb(148, 0, 0); margin-right: 5px;"></i>
                                <p style="text-transform: uppercase;color:rgb(148, 0, 0); font-size: medium;">Modifica</p>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <i class="pi pi-external-link" style="color:rgb(148, 0, 0); margin-right: 5px;"></i>
                                <p style="text-transform: uppercase;color:rgb(148, 0, 0); font-size: medium;">Card debitore</p>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <i class="pi pi-pencil" style="color:rgb(148, 0, 0); margin-right: 5px;"></i>
                                <p style="text-transform: uppercase;color:rgb(148, 0, 0); font-size: medium;">Eccesso</p>
                            </div>
                        </div>
                        <p-fieldset legend="Denuncia">
                            <div class="flex align-content-left justify-content-between gap-4" style="height:120px;margin-left: 10px;margin-right: 10px;font-size: x-small;">
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Tipo denuncia: <b style="text-transform: uppercase;">{{sinistro[idSinistro].tipoDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Luogo: <b style="text-transform: uppercase;">{{sinistro[idSinistro].luogoDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Data denuncia: <b style="text-transform: uppercase;">{{sinistro[idSinistro].dataDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Riattivazione: <b style="text-transform: uppercase;">{{sinistro[idSinistro].riattivazione}}</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Denunciante: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">{{sinistro[idSinistro].denunciante}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Accaduto il: <b style="text-transform: uppercase;">{{sinistro[idSinistro].accadutoDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Data pervenimento denuncia: <b style="text-transform: uppercase;">{{sinistro[idSinistro].dataPervenimentoDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Rif. intermediario: <b style="text-transform: uppercase;">{{sinistro[idSinistro].dataPervenimentoDenuncia}}</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Ruolo denunciante: <b style="text-transform: uppercase;">{{sinistro[idSinistro].ruoloDenunciante}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Evento: <b style="text-transform: uppercase;">{{sinistro[idSinistro].eventoDenuncia}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Data protocollazione: <b style="text-transform: uppercase;">{{sinistro[idSinistro].dataProtocollazione}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Rif. assicurato: <b style="text-transform: uppercase;">{{sinistro[idSinistro].rifAssicurato}}</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Assicurato: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">{{sinistro[idSinistro].assicurato}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left" style="margin-top: 12px;">
                                        <p>Data chiusura: <b style="text-transform: uppercase;">{{sinistro[idSinistro].datachiusura}}</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Identificativo CAU: <b style="text-transform: uppercase;">{{sinistro[idSinistro].idCAU}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <p-fieldset legend="Info ramo RCA">
                            <div class="flex align-content-left justify-content-between gap-4" style="height:150px;margin-left: 10px;margin-right: 10px;font-size: x-small;">
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Controparte: <b style="text-transform: uppercase;">Quixa assicurazioni s.p.a.</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Responsabilità Ania: <b style="text-transform: uppercase;">-</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Tipo CAi: <b style="text-transform: uppercase;">Cai due firme</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Dinamica inequivocabile CAi: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Presenza soggetti CTT: <b style="text-transform: uppercase;">No</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Codice responsabilità definita: <b style="text-transform: uppercase;"> </b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>F. Resp. inviato ad Ania: <b style="text-transform: uppercase;">No</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Targhe indicate nella CAI: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Collisione: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Sinistro rilevante: <b style="text-transform: uppercase;">No</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Responsabilità Ns Assicurato: <b style="text-transform: uppercase;">Nessuna resp.</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Allineamento responsabilità: <b style="text-transform: uppercase;">Latorrel</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Compagnie indicate nella CAI: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Numero di veicoli: <b style="text-transform: uppercase;">Due</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>SIC: <b style="text-transform: uppercase;">Ko - impresa debitrice non conferma c...</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Forzatura: <b style="text-transform: uppercase;">-</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left" style="margin-top: 12px;">
                                        <p>Data indicata in CAI: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Danni al veicolo di CTP: <b style="text-transform: uppercase;">Si</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Data Risp. SIC: <b style="text-transform: uppercase;">22/12/2022</b></p>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <p-fieldset legend="Altre info">
                            <div class="flex align-content-left justify-content-between gap-4" style="height:60px;margin-left: 10px;margin-right: 10px;font-size: x-small;">
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Franchigie caricate: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">No</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Eccesso: <b style="text-transform: uppercase;">Nessuno</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Sinistri collegati: <b style="text-transform: uppercase;color:rgb(148, 0, 0)">No</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Priorità: <b style="text-transform: uppercase;">-</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Attività: <b style="text-transform: uppercase;">No</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Note sinistro: <b style="text-transform: uppercase;">-</b></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Codice sinistro: <b style="text-transform: uppercase;">103499325</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <div class="flex-wrap" style="width:98%; margin-left: 10px; margin-top: 10px; height: 50px;background-color: rgb(213, 210, 210); border-radius: 5px;">
                            <div class="flex align-content-center justify-content-center">
                                <p><b style="color:rgb(148, 0, 0)">Valore sinistro (Incurred) €2,003,00 (NQ) €2,003,00 (100%)</b></p>
                            </div>
                            <div class="flex align-content-center justify-content-end">
                                <i class="pi pi-angle-down" style="margin-top: -35px;margin-right: 10px;color:rgb(148, 0, 0)"></i>
                            </div>
                        </div>
                        <div class="flex-wrap" style="width:98%; margin-left: 10px; margin-top: 10px; height: 50px;background-color: rgb(213, 210, 210); border-radius: 5px;">
                            <div class="flex align-content-center justify-content-center">
                                <p><b style="color:rgb(148, 0, 0)">Entità risarcite</b></p>
                            </div>
                            <div class="flex align-content-center justify-content-end">
                                <i class="pi pi-angle-down" style="margin-top: -35px;margin-right: 10px;color:rgb(148, 0, 0)"></i>
                            </div>
                        </div>
                    </div>
                    <div id="spallaDestraBassa" class="col-fixed hoverListaPaginaDettaglio " style="height:722px;background-color: rgb(213, 210, 210); width: 22%;">
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Informazioni entità</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="background-color:white;margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <i class="pi pi-paperclip" style="margin-top: 20px;margin-left: 10px; margin-right: 20px;color:rgb(91, 226, 226)"></i>
                            <p style="text-transform: uppercase;">Informazioni sinistro</p>
                            <div style="height:60px; width: 10px; background-color: brown;margin-left: 35px;"></div>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Informazioni polizza</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Documenti</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Diario di trattazione</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Scadenzario</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Lettere / stampe</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Flussi</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;margin-left: 40px;">Banca dati sinsitri</p>
                            <p class="flex align-content-center justify-content-center" style="color: brown;border:2px solid brown; border-radius: 50%; width:10%; margin-left: 25px;">4</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;">Comunicazioni</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;margin-left: 85px;">Antifrode</p>
                            <p class="flex align-content-center justify-content-center" style="color: brown;border:2px solid brown; border-radius: 50%; width:10%; margin-left: 50px;">0</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="margin-left: -7px;width:277px;height: 60px; border:1px solid black;border-radius: 5px;">
                            <p style="text-transform: uppercase;margin-left: 85px;">Messaggi</p>
                            <p class="flex align-content-center justify-content-center" style="color: brown;border:2px solid brown; border-radius: 50%;width:10%; margin-left: 55px;">0</p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 15px;width: 100%;height: 1100px; background-color: white;border:1px solid black;border-radius: 5px;">
                    <div style="background-color: rgb(213, 210, 210); width: 100%; height: 60px;" class="flex align-content-center justify-content-center hoverListaPaginaDettaglio">
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0; border-left: 0;width:139.77px">
                            <p>Incarichi</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="background-color: white;border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <div style="background-color: brown;width:139.77px; height:10px;position:absolute"></div>
                            <p>Validazione</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p style="font-size: small; margin-top: 17px;">Preventivo e Riserva</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p>Liquidazione</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p>CARD</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p>Contenzioso</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p>Chiusura</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;width:139.77px">
                            <p>Rivalse</p>
                        </div>
                        <div class="flex align-content-center justify-content-center" style="border:1px solid black;border-top: 0;border-bottom: 0;border-right: 0;width:139.77px">
                            <p>Anagrafe Tributaria</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div style="margin-top: 20px; margin-left: 10px;" class="col-fixed">
                            <div class="col" style="height:600px;background-color: rgb(213, 210, 210); width: 300px;">
                                <div>
                                    <p><b>Dati del contratto</b></p>
                                    <p>Polizza coperta: <b>Si</b></p>
                                    <p>Coassicurazione: <b>No</b></p>
                                    <p>Riassicurazione: <b>No</b></p>
                                    <p>Polizza con deroghe: <b>No</b></p>
                                    <p>Polizza con clausola Jolly: <b>No</b></p>
                                    <p>Polizza indicizzata: <b>No</b></p>
                                </div>
                                <p style="color: white;">____________________________________</p>
                                <div>
                                    <p><b>Dati del sinistro</b></p>
                                    <p>Data accadimento: <b>16/12/2022</b></p>
                                    <p>Incarichi su sinistro: <b>1 (0 in PLP)</b></p>
                                    <p>Sinistro rilevante: <b>No</b></p>
                                    <p></p>
                                    <p>Data pervenimento denuncia: <b>19/12/2022</b></p>
                                    <p>Sinistri collegati: <b>-</b></p>
                                    <p>Data conferma sinistro: <b>21/12/2022,</b><b style="text-transform: uppercase;">La Torre Livia</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                        
                        <div style="background-color: rgba(255, 244, 43, 0.84); height:60px; width:800px; margin-top: 30px; margin-right: 20px; border:1px solid rgba(255, 199, 33, 0.927)" class="col-fixed">
                            <p style="color: brown;">Sinistro validato</p>
                        </div>
                        <p-fieldset legend="Questionario CAI" class="col-fixed">
                            <div class=" grid flex align-content-left justify-content-between gap-2" style="height:330px;margin-left: 10px;margin-right: 10px;font-size: x-small;">
                                <div col>
                                    <div class="flex align-items-center justify-content-left" style="margin-bottom: 10px;">
                                        <p>Veicoli coinvolti <b style="text-transform: uppercase;">Nostro e uno di controparte</b></p>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Dinamica inequivocabile:</p>
                                        <p-selectButton [options]="opzioniDinamicaInequivocabile" [(ngModel)]="valoreDinamicaInequivocabile" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                </div>
                                <div col>
                                    <div class="flex align-items-center justify-content-left" style="margin-bottom: 10px;">
                                        <p>Collisione</p>
                                        <p-selectButton class="col" [options]="opzioniCollisione" [(ngModel)]="valoreCollisione" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>È presenta la data nella CAI? <b style="text-transform: uppercase;">-</b></p>
                                        <p-selectButton class="col" [options]="opzioniDataCAI" [(ngModel)]="valoreDataCAI" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left" style="margin-bottom: 10px;">
                                        <p>Constatazione amichevole:</p>
                                        <p-dropdown [options]="opzioniConstatazioneAmichevole" [(ngModel)]="sceltaConstatazioneAmichevole" optionLabel="name"></p-dropdown>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Sono indicate le targhe nella CAI? <b style="text-transform: uppercase;">-</b></p>
                                        <p-selectButton class="col" [options]="opzioniTargaCAI" [(ngModel)]="valoreTargaCAI" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex align-items-center justify-content-left" style="margin-bottom: 10px;">
                                        <p>Assicurato dichiara assenza danni al veicolo di contr...</p>
                                        <p-selectButton class="col" [options]="opzioniAssenzaDanni" [(ngModel)]="valoreAssenzaDanni" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                    <div class="flex align-items-center justify-content-left">
                                        <p>Sono indicate le compagnie della CAI?</p>
                                        <p-selectButton class="col" [options]="opzioniCompagnieCAI" [(ngModel)]="valoreCompagnieCAI" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                </div>
                                <div>
                                    <p>Descrizione dell'evento</p>
                                    <textarea style="width:800px; height: 100px; max-width: 800px;" pInputTextarea></textarea>
                                </div>
                            </div>
                        </p-fieldset>
                        <p-fieldset legend="Veicoli coinvolti" class="col-fixed">
                            <div class="grid">
                                <div id="colonnaSInistra" class="col" style="width:200px;height:400px;background-color:rgb(91, 226, 226)">
                                    <p><b style="font-size: large;">Contraente</b></p>
                                    <div class="grid">
                                        <div class="col-fixed" style="width:120px">
                                            <p style="font-size: small;">Proprietario:</p>
                                            <p style="font-size: small;">Contraente Itas:</p>
                                            <p style="font-size: small;">Uls:</p>
                                            <p style="font-size: small;">Recidivo:</p>
                                            <p style="font-size: small;">Targa/Telaio</p>
                                            <p style="font-size: small;">Marca/Modello</p>
                                            <p style="font-size: small;">Tipo veicolo</p>
                                            <p style="font-size: small;margin-top: 30px;">Compagnia</p>
                                            <p style="font-size: small;margin-top: 30px;">Barèmes</p>
                                        </div>
                                        <div class="col">
                                            <p style="font-size: small;"><b>Mazzoli Silvano</b></p>
                                            <p style="font-size: small;"><b>Mazzoli Silvano</b></p>
                                            <p style="font-size: small;"><b>033 -</b></p>
                                            <p style="font-size: small;"><b>No</b></p>
                                            <p style="font-size: small;">X6HFGF Tipo DEFINITIVA</p>
                                            <p style="font-size: small;">APE PIAGGIO</p>
                                            <p style="font-size: small;">FURGONCINO TRICICLO A PEDALI CON MOTORE AUSILIARIO</p>
                                            <p style="font-size: small;">22 - ITAS -IST.TRENTINO ALTO-ADIGER PER ASSICURAZIONI (22)</p>
                                            <p style="font-size: small;">13 - GIRAVA A SINISTRA</p>
                                        </div>
                                    </div>  
                                </div>
                                <div id="colonnaDestra" class="col" style="width:200px;height:400px;background-color:rgb(253, 255, 127)">
                                    <p><b style="font-size: large;">Contraente di controparte</b></p>
                                    <div class="grid">
                                        <div class="col-fixed" style="width:120px">
                                            <p style="font-size: small;">Proprietario:</p>
                                            <p style="font-size: small;">Contraente Itas:</p>
                                            <p style="font-size: small;">Uls:</p>
                                            <p style="font-size: small;">Recidivo:</p>
                                            <p style="font-size: small;">Targa/Telaio</p>
                                            <p style="font-size: small;">Marca/Modello</p>
                                            <p style="font-size: small;">Tipo veicolo</p>
                                            <p style="font-size: small;margin-top: 30px;">Compagnia</p>
                                            <p style="font-size: small;margin-top: 30px;">Barèmes</p>
                                        </div>
                                        <div class="col">
                                            <p style="font-size: small;"><b>Barz Lucian</b></p>
                                            <p style="font-size: small;"><b>Barz Lucian</b></p>
                                            <p style="font-size: small;"><b>033 -</b></p>
                                            <p style="font-size: small;"><b>No</b></p>
                                            <p style="font-size: small;">DY507EN Tipo DEFINITIVA</p>
                                            <p style="font-size: small;">AUDI / A3 2a SERIE</p>
                                            <p style="font-size: small;">AUTOVETTURA</p>
                                            <p style="font-size: small; margin-top: 30px;">440 - QUIZA ASSICURAZIONI S.P.A. (440)</p>
                                            <p style="font-size: small;margin-top: 30px;">8 - TAMPONAVA PROCEDENDO NELLO STESSO SENSO O STESSA FILA</p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-splitter>