/* You can add global styles to this file, and also import other style files */
@import 'node_modules/primeicons/primeicons.css';
@import 'node_modules/primeng/resources/themes/saga-blue/theme.css';
@import 'node_modules/primeng/resources/primeng.min.css';
@import '/node_modules/primeflex/primeflex.css';

.visibility{
    display: contents;
}

.removeVisibility{
    display: none;
}

.maxWidth{
    width: 98vw;
}

.startingWidth{
    width:82vw;
}

.p-card .p-card-body {
    background-color: rgb(213, 210, 210) !important;
    border:1px solid black;border-radius: 5px;
    margin-bottom: 2px;
}

.p-fieldset .p-fieldset-legend {
    padding: 1rem;
    border: 0px !important;
    color: #495057;
    background: transparent !important; 
    font-weight: 600;
    border-radius: 3px;
}

.p-fieldset {
    margin-left: 10px;
    margin-right: 10px;
}